# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
pprof/

# Dependency directories (remove the comment below to include it)
vendor/

# bindata ourput
api/bindata.go

# Temp files
tmp/
testdata/
*.tmp
*.test
*.swp

# local config
sources/

# build
dnsproxy
build/

